/* *{
  margin: 0;
  padding: 0;
  background-color: rgb(75, 187, 215);
}

.container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  text-align: center;
  flex-direction: column;
  width: 30%;
  min-height: 40vh; 
  box-shadow: 0 10px 20px rgba(219, 213, 213, 0.19), 0 6px 6px rgba(135, 21, 21, 0.23);
  margin-left: 35vw;
  margin-top:25vh ;
  background-color: white;
}


.main h1{
  font-size: 5rem;
  background-color: white;
}

.main_1{
  display: flex;
  gap: 10%;
  margin-left: 7px;
  background-color: white;
}

.main_1 button{
  width: 9vw;
  height: 5vh;
  border-radius: 10px;
  
}

button{
  background-color: white;
  margin-top: 5vh;
}

button:hover{
  background-color: green;

} */